/* Primera forma de mandar a poner estilos */
/* 1 Etiqueta */
body {
    background-color: rgba(11, 7, 1, 0.923);
}

/* Segunda forma de dar estilos */
/* Clase */

.links {
    background-color: rgb(16, 226, 226);
    color: white;
}